@font-face {
    font-family: 'Astegra';
    src: url('./astegra.regular.ttf') format('Astegra');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins';
    src: url('./poppins.regular.ttf') format('poppins');
    font-weight: normal;
    font-style: normal;
}