@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/fonts.css');

body {
  margin: 0;
  font-family: "Astegra";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}